---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HeaderNavigation from '../components/Nav.astro';
---

<Layout title="Welcome to Astro.">
	<main>

		
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z"
				fill="url(#paint0_linear_1805_24383)"></path>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
        <HeaderNavigation/>
        

		<h1 class="text-gradient">夏季养心</h1>

		<ul>
			<li><a href="/md/夏日养生汤">夏日养生汤</a></li>
			<li><a href="/md/夏季穴位按摩">夏日穴位按摩</a></li>
		</ul>	
		<style>
			h1 {
			  font-family: "思源宋体";
			  font-weight: 800;
			  font-size: 64px;
			  line-height: 1.5;
			  color: black;
			  letter-spacing: 2px;
			  text-indent: 1em;
			  text-decoration: none;
			  text-shadow: 1px 1px 2px rgb(20, 199, 59), 0 0 1em rgb(76, 204, 114), 0 0 0.2em rgb(138, 231, 202);
			}
		  </style>


		<p class="rich-旅游资源">夏季气温升高，人体阳气旺盛。此时，《黄帝内经》建议人们养心健脾。保持充足的睡眠，避免过度劳累，有助于保护心脏功能。
			饮食上应多吃清淡、易消化的食物，如绿豆、冬瓜、西瓜等，以清热解暑，健脾利湿。此外，适当运动也有助于排汗散热，增强脾胃功能。<style>
			.rich-旅游资源 {
				border: 2px solid rgba(213, 147, 23, 0.687); /* 设置边框为绿色且宽度为2px */
				background-color: rgb(91, 158, 134); /* 设置背景颜色为浅绿色 */
				padding: 10px; /* 为文本添加一些内边距 */
				border-radius: 5px; /* 为边框添加圆角 */
			}
		</style>
		
	
		<ul role="list" class="link-card-grid">
			<Card
				href="https://m.thepaper.cn/baijiahao_8199304"
				title="睡眠休息："
				body="夏天夜短昼长，则应“夜卧早起，无厌于日”。"
			/>
			<Card
				href="https://m.thepaper.cn/baijiahao_8199304/"
				title="情绪调节:"
				body="夏季要戒躁戒怒，不要烦躁，不要发怒，让心情平和。"
			/>
			<Card
				href="https://m.thepaper.cn/baijiahao_8199304/"
				title="饮食健康"
				body="立夏饮食应清淡，以易消化、富含维生素的食物为主，大鱼大肉和油腻辛辣生冷的食物要少吃。 "
			/>
			<Card
				href="https://m.thepaper.cn/baijiahao_8199304/"
				title="身体调节："
				body="夏季最适合养心，提高人的精气神，同时治疗冬季时的疾病，调理身体状况。 ❤️"
			/>

			<p>关于睡眠起居，《黄帝内经》认为应当“夜卧早起，无厌于日。”夜卧早起指的是晚睡早起，认为人要顺应大自然的规律养生，起居时间要随着太阳生起和落下的规律。
				夏天夜短昼长，应“夜卧早起，无厌于日”。因此，所谓“夜卧”即晚睡，是指随着夏天日落后天完全黑下来的时间入睡，我国中原地区大约为晚八点至九点左右。	<img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.eD97YZylBO7AiyiGhmpkjAHaEY?rs=1&pid=ImgDetMain" alt="100"width="380" height="300">
				的升起天亮就起床，大概时间为四点半至五点左右。因此，结合现代人的作息时间安排，建议夏季的起卧时间为晚九点入睡，早五点起床，保证一天八小时的充足睡眠。
			</p>
		
			
			<p>情绪调节：
				《黄帝内经》讲夏季情志的调节应当“使志无怒，使华英成秀，使气得泄，若所爱在外。”意思就是要让你的阳气舒展，心情舒畅。因为这个时候人的心火比较旺盛，好发脾气。
				所以这个时候应该舒展阳气，应该开怀、高兴、安闲，出出汗，让身体的阳气运行通畅而得到疏泄。<img src="https://pic4.zhimg.com/v2-3b365d328a5f671c9c61beec18890623_r.jpg" alt="100" width="380" height="auto">夏季对应的五脏是心脏，因此这个时候如果出现暴怒、暴喜、压抑等不良情绪，
				就会引起血压升高、心律失常、头晕目眩等症状，尤其是老年人很容易诱发心脑血管疾病，这就违逆了《黄帝内经》夏季养生的原则，因此称为“逆之则伤心”。</p>
				
			 
				<p>饮食健康：
					气候从潮湿向闷热过度，湿重于热或湿热夹杂让人甚为困扰。应选择具有清淡的食品，如鸭肉、鲫鱼、虾、瘦肉、食用蕈类（香菇、蘑菇、平菇、银耳等）等。煲汤中药材宜健脾去湿之品，
					如淮山、芡实、扁豆、小米等以帮助身体排湿。即使清热也不宜过于寒凉，也可用利湿之物，如薏米、赤小豆、玉米须、茯苓等。<img src="https://img95.699pic.com/photo/50133/4007.jpg_wh860.jpg" alt="100" width="380" height="auto">			胃寒的人可加入生姜、陈皮以温中理气和胃，即使清热也不
					损脾阳。但生食瓜果蔬菜一定要清洗干净，防止夏季肠道传染病。鱼、蛋、肉等食品要注意保鲜防腐。饮食切不可暴饮暴食，尤其晚餐更不应饱食。谚语说：“晚饭少吃口，活到九十九。”
					《黄帝内经-素问》指出：“饮食有节”、“无使过之”。老人、小孩消化力本来不强，夏季就更差，吃得过饱，消化不了，容易使脾胃受损，导致胃病。如果吃八成饱，食欲就会继续增强。</p>
					
						
				<p>　身体调节：
					“冬病”指某些好发于冬季，或在冬季加重的病变，如支气管炎、哮喘、风温性关节炎等病，在夏季趁其发作缓解，辨证施治，适当内服和外用一些方药，如三伏天灸，以预防冬季旧病复发，
					或减轻其症状。乘其势而治之，往往可收到事半功倍的效果立夏后日照时间延长，午时（11:00-13:00）为养心的时刻，此时为心经当今，人们最好处于休息的状态，便能感觉一天精力充沛，
					如人体有胸闷、咳喘、心悸等症，只需按摩膻中穴就会取得良好的效果。<img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.ZLxkC0SfxrNvuzCoGSGJRAHaEK?w=294&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="100" width="380" height="auto">	按摩时，用食指和中指的指腹稍稍用力揉压穴位，不可用力过度，力量过大会造成心气涣散，胸闷不适。每次揉压约5秒，
					休息3秒，按压2-3分钟。生气时，可以往下捋100下左右，可以达到顺气的作用。
				</p>

									
					</ul>

		</ul>
	
	
	
	

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	
h1.text-gradient {
    color: rgb(240, 238, 231); /* 直接设置文本颜色 */
    background-image: none; /* 移除背景图像 */
    -webkit-background-clip: unset; /* 取消文本背景裁剪 */
    -webkit-text-fill-color: unset; /* 取消透明文本填充 */
}
body {
    background-color: #a0caa3; /* 黄色的十六进制颜色值 */
}
</style>
