---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeaderNavigation from "../components/Nav.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z"
				fill="url(#paint0_linear_1805_24383)"></path>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		<HeaderNavigation />

		<h1 class="text-gradient">冬季养肾</h1>

		<ul>
			<li><a href="/md/冬季食疗粥">冬季食疗粥</a></li>
			<li><a href="/md/冬日锻炼小科普">冬日锻炼小科普</a></li>
		</ul>	

		<style>
			h1 {
			  font-family: "思源宋体";
			  font-weight: 800;
			  font-size: 64px;
			  line-height: 1.5;
			  color: rgb(236, 229, 229);
			  letter-spacing: 2px;
			  text-indent: 1em;
			  text-decoration: none;
			  text-shadow: 1px 1px 2px rgb(20, 112, 104), 0 0 1em rgb(28, 88, 217), 0 0 0.2em rgb(138, 231, 202);
			}
		  </style>

		<p class="rich-旅游资源">
			冬季气温骤降，阴气旺盛。《黄帝内经》认为冬季应养肾保暖。此时，人们应早睡晚起，保持室内温暖，以养护肾脏。饮食上应多吃温性食物，
			如羊肉、鸡肉等，以补充身体所需的热量和营养。此外，适量运动也有助于促进血液循环，增强肾脏功能。</p>
		<style>
			.rich-旅游资源 {
				border: 2px solid rgba(62, 38, 181, 0.687); /* 设置边框为绿色且宽度为2px */
				background-color: rgb(106, 202, 200); /* 设置背景颜色为浅绿色 */
				padding: 10px; /* 为文本添加一些内边距 */
				border-radius: 5px; /* 为边框添加圆角 */
			}
		</style>

		
			
			<p>P211012422 蒋丕彦</p>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.thepaper.cn/newsDetail_forward_25770525/"
					title="起居着装"
					body="冬季宜“早卧迟起”。早睡以养阳气，迟起以固精气。"
				/>
				<Card
					href="https://www.thepaper.cn/newsDetail_forward_5047909/"
					title="饮食调养"
					body="冬季是进补的好时机，应以温补为主。"
				/>
				<Card
					href="https://www.thepaper.cn/newsDetail_forward_20953440/"
					title="运动保健"
					body="适当的运动可以帮助身体产生热量，促进血液循环和新陈代谢。"
				/>
				<Card
					href="https://www.thepaper.cn/newsDetail_forward_25770525/"
					title="情志养生"
					body="冬季要注意保持情绪的稳定、平和。 ❤️"
				/>
				<p>起居着装：一般来说，人们最佳的作息时间应是晚上10点至第二天早上6点，冬季早睡晚起也只是在此基础上微调而已。
					冬季气候寒冷，由于关节附近多是肌腱、韧带等血管分布较少的组织，而且四肢较常暴露在外，更易散失温度，使关节僵硬，
					血液循环差，因而导致疼痛不止。<img src="https://tmp-file-1252627319.cos.ap-shanghai.myqcloud.com/gov_img/2020/12/28/8567014006259251200.gov_img/2020/12/28/3515848093269428224.jpeg" alt="100" width="350" height="auto">
					因此，关节炎患者在寒冬须加强下肢保暖。还有是头部和脚部。可以选择穿一些保暖性能好的衣物，
					也可以使用暖水袋、电热毯等取暖设备。<img src="https://ts1.cn.mm.bing.net/th/id/R-C.d9190c55fe71fff590f2fe4df3800a8a?rik=nTn8k%2bzK4K00mA&riu=http%3a%2f%2fwww.cqybq.gov.cn%2fybw_photo%2fattachement%2fjpg%2fsite0%2f20180103%2f7845c440c3d51bb6e0940b.jpg&ehk=sKYIKFXLXFJlPCKF4hG0eRUQ6RDdUut2lKelWU7zRQ4%3d&risl=&pid=ImgRaw&r=0" alt="100" width="350" height="200">
					同时，冬季要注意保持室内空气流通，避免由于空气不流通而导致的感冒和其他呼吸系统疾病。
					多寐而阴血荣养，则阳有所依而精气藏。研究表明，与清醒状态相比，睡眠是脑功能活动的一种重新组合状态。良好的睡眠对促进儿童的生长发育、
					增强机体免疫功能也有重要意义。<img src="https://ts1.cn.mm.bing.net/th/id/R-C.50e5d211cf645555094492e9e46aa7bb?rik=Y41poENx6ooCoQ&riu=http%3a%2f%2fhimg2.huanqiu.com%2fattachment2010%2f2018%2f0628%2f14%2f47%2f20180628024715151.jpg&ehk=bFq6Mb20FtApzrvx%2bSqQTPSbFWXBFtqWEQTtxmh4Bec%3d&risl=&pid=ImgRaw&r=0" alt="100" width="350" height="200"></p>

				<p>饮食调养：冬季饮食应当遵循“秋冬养阴”的原则，既不宜生冷，也不宜燥热，最宜食用滋阴潜阳、热量较高的膳食。冬季是进补的最佳时节，
						此时脾胃机能每多旺盛，是营养物质积蓄的最佳时机，正合冬藏之意。冬天阳气潜伏，阴气盛极，饮食总原则是减咸增苦，
						饮食宜温，重在补肾。冬天寒气内应肾，根据五味归五脏的理论，咸味入肾，冬季如果吃得过咸会使肾气更旺，这可能会使心、
						脾力量减弱，影响人体健康。因此，在冬天里，要少吃咸味食品，多吃些苦味食物以益心气，如猪肝、羊肝、大头菜、莴苣等。<img src="https://ts1.cn.mm.bing.net/th/id/R-C.1e6b43bf001e15cae01d890858c815a9?rik=sX%2f2jKZFGtkopA&riu=http%3a%2f%2fi2.chuimg.com%2f57cf31bc879411e6b87c0242ac110003_1000w_833h.jpg%3fimageView2%2f2%2fw%2f660%2finterlace%2f1%2fq%2f90&ehk=qmgCMo0%2b0lqbOmxfBXRAdFEq8fIc6UIXtODxvU%2fCGlY%3d&risl=&pid=ImgRaw&r=0" alt="100" width="350" height="200">
						此外，大雪节气后昼夜温差比较大，早晚时间人们会因寒冷而感到不适，吃喝温热的食物和饮料，早晚喝一碗热粥，更有助于养护阳气。
						冬季是进补的好时机，应以温补为主，尤其是对于阳虚和寒性体质的人。同时，冬季应多喝水，以保持身体的水分平衡。
						还有很多人一到冬天就容易发生口腔溃疡、牙龈肿痛、出血、大便秘结等症状，这是因为冬天是蔬菜生产的淡季，
						因摄入不足人体会出现维生素不足。所以在冬季，应适当吃些薯类，如甘薯、马铃薯等，它们富含维生素。
						此外，俗话说"百菜不如白菜"，大白菜在冬季吃最好，不仅是时令菜，而且大白菜是温性的，不寒不热，当饭吃也没事，
						最重要的是可以补充冬季维生素不足，还可以选择圆白菜、白萝卜、胡萝卜、黄豆芽、绿豆芽、油菜等。</p>

						<p>运动保健：冬季可以选择一些轻度的运动，如散步、慢跑、瑜伽等，避免剧烈运动导致身体过度疲劳。同时，要注意在户外运动时
							避免受到寒风的侵袭，可以选择在室内进行一些运动。冬季早晚温差悬殊，老年人要谨慎起居，可适当运动，增强对气
							温变化的适应能力。但冬季运动要充分做好热身，选择慢跑、快走最适宜。外出晨练不宜过早，最好选择早上太阳出来
							之后的8点至9点，或者下午4点到5点之间进行。<img src="https://pic2.zhimg.com/v2-90d35734383ed6caa265d8b2692366d1_r.jpg" alt="100" width="350" height="200">
							遇到空气混浊、浓雾遮天的天气，最好不要到户外锻炼。冬季虽然天气
							寒冷，但也需定时通风换气，这样可以降低居室内二氧化碳浓度，还可以降低菌落总数，是最有效和最经济的空气“消毒”方法。
							最好在每天的早、中、晚开窗通风3次，每次20～30分钟。此外，还应注意保持房间湿度，可每日向地面洒些水，或用湿拖把拖
							地板以增加湿度，也可在散热设施附近放一盆水，让水慢慢蒸发，以保持室内空气湿润。寒冷的天气使人体的气血运行会减慢。
							睡前（晚上7～9点肾经最弱时期）适度泡脚可以滋养肾经，同时可以舒缓疲劳、放松心情。泡脚的同时，建议按摩足三里、三阴交、
							涌泉等穴位，既可以促进全身血液循环，亦能加强补肾益精、防病保健的效果。</p>

							<p>情志养生:控制自己的情志活动，才能保证冬令阳气伏藏的正常生理不受干扰。这样便可做到“无扰乎阳”，
								养精蓄锐，有利于来春的阳气萌生，也利于预防春温之病。冬季气候干燥，容易导致口干舌燥、皮肤干燥等症状，这些症状会影响
								到情绪和心理状态。因此，要保持心态平和，避免情绪波动过大，同时可以通过听音乐、阅读、打坐等方式来放松身心，保持心情愉悦。
								<img src="https://imgc.yxlady.com/juhe/uploads/tuijian/tuijianimage/202101231645039711.jpg" alt="100" width="350" height="200">
								起居和运动要有规律。许多疾病由情志引起，如情绪不稳和起居无规律易引发青光眼。故平时要保持情绪稳定，避免精神紧张和过度兴奋；
								注意起居要有规律，不在黑暗处久留，防止瞳孔扩大引起眼压增高；<img src="https://ts1.cn.mm.bing.net/th/id/R-C.bee5fe9dbd75b4d44129b51afaf5a9f1?rik=b%2fx%2by4DLQ2V2%2bA&riu=http%3a%2f%2f5b0988e595225.cdn.sohucs.com%2fq_mini%2cc_zoom%2cw_640%2fimages%2f20170704%2f31884f15d4f248cc9255e50690290f01.jpg&ehk=sL4fVCrJlra%2ftdiD9wtlTkJSMvWQHzyjFnCt1S49BhQ%3d&risl=&pid=ImgRaw&r=0" alt="100" width="350" height="200">
								晴朗天气适度参加户外活动，增加眼底血管氧气的供应，减少血液中二
								氧化碳的聚积，避免眼压升高气候寒冷的恶劣天气，要尽量减少外出以控制对眼部的影响</p>

								<a href="https://baijiahao.baidu.com/s?id=1717459863813685351">四季养生之冬季养生</a>
								<a href="https://www.thepaper.cn/newsDetail_forward_25330819">冬季养生羊肉食谱</a>
			</ul>
		</p>
	</main>

	<style>
		main {
			margin: auto;
			padding: 1rem;
			width: 800px;
			max-width: calc(100% - 2rem);
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}
		.astro-a {
			position: absolute;
			top: -32px;
			left: 50%;
			transform: translatex(-50%);
			width: 220px;
			height: auto;
			z-index: -1;
		}
		h1 {
			font-size: 4rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			margin-bottom: 1em;
		}
		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}
		.instructions {
			margin-bottom: 2rem;
			border: 1px solid rgba(var(--accent-light), 25%);
			background: linear-gradient(
				rgba(var(--accent-dark), 66%),
				rgba(var(--accent-dark), 33%)
			);
			padding: 1.5rem;
			border-radius: 8px;
		}
		.instructions code {
			font-size: 0.8em;
			font-weight: bold;
			background: rgba(var(--accent-light), 12%);
			color: rgb(var(--accent-light));
			border-radius: 4px;
			padding: 0.3em 0.4em;
		}
		.instructions strong {
			color: rgb(var(--accent-light));
		}
		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 2rem;
			padding: 0;
		}
		h1.text-gradient {
			color: rgb(198, 211, 213); /* 直接设置文本颜色 */
			background-image: none; /* 移除背景图像 */
			-webkit-background-clip: unset; /* 取消文本背景裁剪 */
			-webkit-text-fill-color: unset; /* 取消透明文本填充 */
		}
		body {
    background-color: rgb(140, 208, 225); /* 新选择的颜色 */
}
	</style>
</Layout>
