<a href="/">首页</a>
<a href="/lijiang">丽江之旅</a>
<a href="/lishi">丽江悠久历史</a>
<a href="/ziyuan">丽江丰富旅游资源</a>

<style>
    a {
        color: rgba(28, 100, 183, 0.543);
        text-decoration: none;
        margin-right: 1em;
    }
</style>
